# Codeowners added as reviewers at PR creation time
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax
* @bazelbuild/buildtools-team
